<!doctype html>
<html>

<head>
    <title>CLIENTE V.I.P. - Consulta</title>
</head>
    
<body>
        
    <h1>CLIENTE V.I.P.: Consulta por nombre del canino y DNI del responsable</h1>
    <p>Indique nombre del cliente canino y DNI del responsable.</p>
    <form method = "POST" action="{{url_for('consulta_nombre_dni')}}">
            
        <h2> Nombre del Cliente Canino</h2>
        <label>Nombre:</label>
        <input type="text" name="nombre_canino" required><br><br>

        <h2>Datos del Responsable</h2>
        <label>DNI (sin puntos):</label>
        <input type="text" name="dni_responsable" minlenght="8" maxlenght="8"
            required><br><br>

    </form>

    <form action="{{url_for('reporte_nombre_dni')}}">
        <input type="submit" value="Consultar">
    </form>

</body>
</html>
    
<footer>
    <p>Martín A. García Romano, Programador Python, Inove, 2022</p>
</footer>